<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:f="urn:flow3:fluid">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Some fake data from the Faker package</title> 
		<f:base />
	</head>
	<body>
		<h1>Some fake data from Faker...</h1>
		<p>Dates:</p>
		<ul>
			<f:for each="{dates}" as="date">
			<li><f:format.date format="d.m.Y - H:i:s">{date}</f:format.date></li>
			</f:for>
		</ul>
		<p>Names:</p>
		<ul>
			<f:for each="{names}" as="name">
			<li>{name}</li>
			</f:for>
		</ul>
		<p>Emails:</p>
		<ul>
			<f:for each="{emails}" as="email">
			<li>{email}</li>
			</f:for>
		</ul>
		<p>Domains:</p>
		<ul>
			<f:for each="{domains}" as="domain">
			<li>{domain}</li>
			</f:for>
		</ul>
		<p>Companies:</p>
		<ul>
			<f:for each="{companies}" as="company">
			<li>{company}</li>
			</f:for>
		</ul>
		<p>Catch phrases:</p>
		<ul>
			<f:for each="{catchphrases}" as="phrase">
			<li>{phrase}</li>
			</f:for>
		</ul>
		<p>BS:</p>
		<ul>
			<f:for each="{bss}" as="bs">
			<li>{bs}</li>
			</f:for>
		</ul>
		<p>Addresses:</p>
		<ul>
			<f:for each="{addresses}" as="address">
			<li>{address}</li>
			</f:for>
		</ul>
		<p>Phone numbers:</p>
		<ul>
			<f:for each="{phoneNumbers}" as="phoneNumber">
			<li>{phoneNumber}</li>
			</f:for>
		</ul>
		<p>Lorem ipsum:</p>
		<ul>
			<f:for each="{lorem}" as="ipsum">
			<li>{ipsum}</li>
			</f:for>
		</ul>
	</body>
</html>